[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pager]
	branch = false
	stash = false
[user]
	name = "Chris Lawrence"
	email = "chrislawrence05@gmail.com"
[safe]
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
	directory = /Users/chris/actions-runner/_work/sp-desktop/sp-desktop
[init]
	defaultBranch = main
