configstore/
yarn/
coc/
GitHub/
shopify/

plugged/
autoload/

stripe/

# What is this?
memos.json

.DS_Store

GitHub-Copilot/

node_modules/

# Neovim Lazy package manager lock file
nvim/lazy-lock.json

Battle.net/
